html,
body,
#map {
  height: 600px;
  width: 100%;
  padding: 0;
  margin: 0;
}
#spacer {
  height: 20px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container {
background-image: linear-gradient(rgb(0, 0, 0), rgb(87, 87, 112));
}
.legend {
  line-height: 18px;
  color: #555;
  background-color: white;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.75;
}